.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #779fef;
  display: grid;
  place-content: center;
}


.header_menuBtn{
  position: relative;
  z-index: 10;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}
h1 {
  color: black;
}
h2 {
  color: white;
}
body {
  background-color: rgb(196, 196, 196);
}
body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}
h1 {
  font-family: 'Agbalumo', cursive;
}
img {
  border-radius: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}
li-1{
  float: left;
}
li-1 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li-2{
  float: right;
}
li-2 a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
