.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #816464;
  display: grid;
  place-content: center;
}

.header_menuBtn{
  position: relative;
  z-index: 10;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}
h1 {
  color: black;
}
h2 {
  color: white;
}
body {
  background-color: rgb(196, 196, 196);
}
.bouton-1 {
  background-color: green;
}