.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #779fef;
  display: grid;
  place-content: center;
}


.header_menuBtn{
  position: relative;
  z-index: 10;
}
.noscroll,
.noscroll body {
  overflow: hidden;
}
h1 {
  color: black;
}
h2 {
  color: white;
}
body {
  background-color: rgb(196, 196, 196);
}
body {
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.5;
}
h1 {
  font-family: 'Agbalumo', cursive;
}
header {
  display: flex;
justify-content: space-between;
}
